.top-filter-dropdown {
	display: inline-block;
	position: relative;
	line-height: 1.66667;
	z-index: 15;

	&__title {
		padding: 27px 8px;
	    line-height: 1;
	    display: inline-block;
	    color: inherit;
	    font-size: 13px;
	    text-transform: uppercase;
	    font-weight: 700;
	    cursor: pointer;
	}

	&__results {
	    display: none;
	    background-color: #333;
	    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
	    border-radius: 6px;
	    margin-top: 4px;
	    padding: 12px 0;
	    position: absolute;
	    top: 100%;
	    right: 0;
        z-index: 1;

	    &:before {
	    	content: "";
		    display: block;
		    border: 13px inset transparent;
		    border-top-width: 10px;
		    border-bottom-width: 10px;
		    border-bottom-color: #333;
		    border-bottom-style: solid;
		    position: absolute;
		    top: -20px;
		    z-index: 100;
		    left: 0;
		    right: 0;
		    width: 0;
		    margin: auto;
	    }
	}

	&__options {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__option {
		cursor: pointer;
		padding: 2px 30px;
	    font-size: 16px;
	    color: #FFF;
	    font-weight: 400;
	    white-space: nowrap;
	    text-transform: none;

		&:hover,
		&.active {
			color: #6EC7D7;
		}
	}

	&.is-open {
		.top-filter-dropdown__results {
			display: block;
		}
	}
}
