@import '~vue-select/src/scss/vue-select.scss';

.v-select {
  font-family: "freight-sans-pro", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.vs__dropdown-toggle {
  border: 2px solid #999;
  border-radius: 6px;
  padding: 12px 18px;
}

.vs__actions {
  padding: 0;
}

.vs__selected {
  color: #4A4A4A;
  padding-left: 0;
  margin-left: 0;
}

.vs--single.vs--open .vs__selected {
  opacity: 1;
}

.vs__dropdown-menu {
  border: 2px solid #999;
  border-radius: 0 0 6px 6px;
  color: #4A4A4A;
  padding-top: 0;
  padding-bottom: 0;
}

.vs__dropdown-option {
  color: #4A4A4A;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vs__dropdown-option--highlight {
  color: #FFF;
  background: #67C7D8;
}

.vs__dropdown-option--selected {
  font-weight: 600;
  font-style: normal;
  background: #F7F7F7;

  &.vs__dropdown-option--highlight {
    color: #FFF;
    background: #67C7D8;
  }
}
